[submodule "Servicies/REST/PatientRestApi"]
	path = Servicies/REST/PatientRestApi
	url = https://github.com/PoyarkinES/PatientRestApi.git
[submodule "Servicies/gRPC/Dictionary"]
	path = Servicies/gRPC/Dictionary
	url = https://github.com/PoyarkinES/Dictionary.git
